/*
Put here your own style
*/
#tuLogotipo {
    display: block;
    margin: auto;
    background-image: url("imagenes/UAM.png");
    background-repeat: no-repeat;
    background-size: 90px 110px;
    background-position: bottom;
}